@media screen and (max-width: 768px) {
    .posts-list {
        max-width: 600px;
    }

    .post {
        max-width: 575px;
        float: left;
    }

    .post-image {
        width: 50%;
        float:left;
    }

    .post-header {
        width: 50%;
        float: right;
        border-bottom: 1px solid #e0e0e0;
    }

    .post-description {
        width: 50%;
        float: left;
    }
}
