* {
    box-sizing: border-box;
}

.posts-list {
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding: 0;
}

.posts-list li{
    display: inline-block;
    vertical-align: top;
    padding: 1rem 0;
}

/* Post */

.post {
    border-radius: 3px;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    background-color: #fff;

    font: normal 13px sans-serif;
    text-align: left;

    margin: 20px;
    max-width: 315px;
}

/* Post image */

.post-image {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.post-image img{
    width: 100%;
}

.post-header {
    padding: 0.875rem;
}

/* User Info */

.user-info {
    display: inline-block;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    vertical-align: top;
}

.user-info h2{
    font: 16px sans-serif;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
}

.user-avatar {
    display: inline-block;
    width: 18%;
}

.user-avatar > img {
    border: 0;
    border-radius: 100%;
    width: 100%
}

/* Post description */

.post-description {
    padding: 0.875rem;
}

.post-description p{
    color: #5d5d5d;
    margin: 1.250em 0;
}

.post-description .like-heart {
    font-weight: 600;
    cursor: pointer;
}

.post-description .like-count {
    padding-left: 0.5em;
}
