@media screen and (max-width: 480px) {
    .post {
        font-size: 10px;
    }

    .post-description {
        padding-bottom: 0;
        padding-top: 0.5em;
    }

    .post-description p {
        max-height: 50px;
        overflow: auto;
        margin: 0.5em 0 0 0;
    }

    .user-info {
        vertical-align: !important;
        width: 80%;
        padding-top: 0;
    }
    .user-info h2 {
        font-size: 12px;
    }
}
